<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">CafeFinder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Find local cafes without the wait!</h1>
        {# <p class="lead">Find local cafes without the wait!</p>#}
    </div>
</header>

<!-- Font Awesome -->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- Location input box -->
  <div class="mb-3">
      <form>
        <input type="text" name="location" placeholder="Enter location here..."><br>
      </form>
  </div>


  <div class="d-flex justify-content-center range-slider mt-3">
  <output class="justify-content-center text-primary ml-3" id="rangevalue">50 </output>
      <span class="text-primary"> % Busy</span>
  </div>
  <div class="d-flex justify-content-center range-slider mt-3">
  <form class="range-field w-75">
      <input name="rating" type="range" class="custom-range score mb-3" id="customRange1 business" min="0" max="100" step="1" onchange="rangevalue.value=value">
  </form>
  </div>
  <div class="d-flex justify-content-center range-slider mt-3">
  <output class="justify-content-center text-primary ml-3 mb-3" id="starvalue">2.5</output>
      <i class="fas fa-star text-primary mt-1"></i>
  </div>
  <div class="d-flex justify-content-center range-slider">
  <form class="range-field w-75">
      <input name="rating" type="range" class="custom-range score mb-3" id="customRange1 rating" min="0.0" max="5.0" step="0.1" onchange="starvalue.value=value">
  </form>
  </div>
  <div class="d-flex justify-content-center mt-4">
      <button type="button " class="btn btn-primary btn-lg btn-block">Filter</button>
  </div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Score</th>
            <th>Cafe Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
    {% for cafe in data %}
        <tr>
            <th scope="row">
                <div class="progress">
                    <div class="progress-bar" style="width:{{ cafe.score }}%">{{ cafe.score }}&nbsp&nbsp&nbsp</div>
                </div>

            </th>
            <td>{{ cafe.name }}</td>
            <td><a href={{ cafe.link }} class="card-link">{{ cafe.address }}</a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CafeFinder 2019</p>
    </div>
    <!-- /.container -->
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>


</body>

</html>