<!DOCTYPE html>
<html lang="en">
<style>
    input[type=text], select {
  width: 100%;
  height: 75px;
  font-size:25px;
  text-align:center;
}
</style>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Scrolling Nav - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CafeFinder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {#<ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>#}
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Find local cafes without the wait!</h1>
     {# <p class="lead">Find local cafes without the wait!</p>#}
    </div>
  </header>

  <!-- Location input box -->
  <div>
      <form>
        <input type="text" name="location" placeholder="Enter location here..."><br>
      </form>
  </div>

  {#https://www.yelp.com/search?find_desc=Cafes&find_loc=Queen%20Street%20West%2C%20Toronto%2C%20Ontario
    sample cards used top 6 cafes near Queen St W toronto#}

  <!-- Cafe list item card 1 -->
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">1</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">The Coffee Lab</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">
              <a href="https://goo.gl/maps/WF1wL4VBTCu" class="card-link">141 Spadina Avenue</a>
          </p>
        </div>
      </div>
  </div>

   <!-- Cafe list item card 2 -->
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">2</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Quantum Coffee</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">
              <a href="https://goo.gl/maps/H4wDjgR2b622" class="card-link">460 King Street W</a>
          </p>
        </div>
      </div>
  </div>

   <!-- Cafe list item card 3 -->
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">3</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Forget Me Not Cafe</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">
              <a href="https://goo.gl/maps/NXA8k8ZNdsq" class="card-link">506 Adelaide Street W</a>
          </p>
        </div>
      </div>
  </div>

   <!-- Cafe list item card 4 -->
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">4</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Cozy Coffee</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">
              <a href="https://goo.gl/maps/b7WGZz92j3s" class="card-link">200 Queen Street W</a>
          </p>
        </div>
      </div>
  </div>

   <!-- Cafe list item card 5 -->
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">5</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Rialto Espresso Bar</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">
              <a href="https://goo.gl/maps/L3Bw4PGzdUS2" class="card-link">266 Adelaide Street W</a>
          </p>
        </div>
      </div>
  </div>

   <!-- Cafe list item card 6 -->
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">6</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">HotBlack Coffee</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">
              <a href="https://goo.gl/maps/ivtKXqKbYUt" class="card-link">245 Queen Street W</a>
          </p>
        </div>
      </div>
  </div>


  {#<!-- Cafe list item card -->
  <div class="card-group">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Score</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Name</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Address</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">
              <a href="https://www.google.ca/maps" class="card-link">Google maps</a>
          </p>
        </div>
      </div>
  </div>#}


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; CafeFinder 2019</p>
    </div>
    <!-- /.container -->
  </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>


</body>

</html>